<mat-toolbar>
    <button mat-icon-button routerLink="/admin">
        <img src="../../../assets/icons/back.png" alt="" width="30">
    </button>
</mat-toolbar>
<div class="wrapper">
    <button class="actionCamera" [matMenuTriggerFor]="menu">
        <span>Choose Images</span>
        <button mat-icon-button aria-label="Example icon-button with a menu">
            <img src="../../../assets/images/camera.png" alt="" width="30">
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item onclick="selectOption('camera')">
                <mat-icon>camera_enhance</mat-icon>
                <span>Camera</span>
            </button>

            <button mat-menu-item onclick="selectOption('gallery')">
                <mat-icon>insert_photo</mat-icon>
                <span>Gallery</span>
            </button>
        </mat-menu>
    </button>

    <div id="imagebox" style="display: none;">
        <video id="video" width="285" height="215" style="display: none;"></video>
        <img id="selectedImage" alt="Selected Image" style="display: none;">
    </div>

    <button id="captureButton" class="btn" style="display: none;" onclick="captureImage()">Capture</button>
    <button id="submitButton" class="btn" style="display: none;" onclick="submit()">Submit</button>
    
    <input type="file" id="fileInput" style="display: none;" accept="image/*" onchange="handleFileSelect(event)">
</div>
