<!-- <div class="wrapper">
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="menu" routerLink="entryform">
      <mat-icon>center_focus_strong</mat-icon>
      <span>Entry Form</span>
    </div>
    <div class="menu" routerLink="registration">
      <mat-icon>list</mat-icon>
      <span>Registration List</span>
    </div>
  </footer>
</div> -->
  <div *ngIf="loggedIn">
    <img src="{{user.response.picture.data.url}}" alt="">
    <h4>{{user.name}}</h4>
    <h5>{{user.email}}</h5>
  </div>


<button mat-raised-button (click)="signInWithFB()">Facebook</button>
<button mat-raised-button (click)="signOut()">Logout Out</button>